SST - Capacitación.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recordatorio-capacitacion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ee2959e2-27f8-4814-af82-7d73949a73b9",
      "name": "Webhook Capacitación",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -608,
        96
      ],
      "webhookId": "recordatorio-capacitacion"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.asistentes",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "body"
            }
          ]
        },
        "options": {}
      },
      "id": "1236e66a-75a5-494c-a444-58f2ef7d432b",
      "name": "Split Asistentes",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -48,
        224
      ]
    },
    {
      "parameters": {
        "fromEmail": "sst@empresa.com",
        "toEmail": "={{ $json[\"body.asistentes\"].email }}",
        "subject": "📚 Recordatorio: Capacitación Programada - {{$json.body.titulo}}",
        "text": "=Estimado/a {{ $json[\"body.asistentes\"].nombre }}\n\nLe recordamos que tiene una capacitación programada:\n\n📚 Título: {{$json.body.titulo}}\n📋 Tipo: {{$json.body.tipo}}\n👨‍🏫 Instructor: {{$json.body.instructor}}\n📅 Fecha: {{$json.body.fecha_programada}}\n⏱️ Duración: {{$json.body.duracion_horas}} horas\n📍 Lugar: {{$json.body.lugar}}\n💻 Modalidad: {{$json.body.modalidad}}\n\nLa capacitación es obligatoria según la Ley 29783 de Seguridad y Salud en el Trabajo.\n\nPor favor, confirme su asistencia.\n\n---\nSistema SST Perú",
        "options": {}
      },
      "id": "32d11ab6-9aa0-4b44-a18f-597572411131",
      "name": "Email Participante",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        128,
        224
      ],
      "webhookId": "6fa591ba-c677-4587-b1eb-61df65127bc9",
      "credentials": {
        "smtp": {
          "id": "PKi6lZhXQwoOXTgu",
          "name": "SMTP unitru"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "ea4a5c95-6b8c-4ea2-9802-be58a07bc716",
      "name": "Cron Semanal Lunes 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        336
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/recordatorio-capacitacion",
        "options": {}
      },
      "id": "994d56ab-6a91-47e6-ba5b-f21a018142ae",
      "name": "Obtener Capacitaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -384,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.evento}}",
              "value2": "recordatorio_capacitacion"
            }
          ]
        }
      },
      "id": "bfa6b8b2-a24b-4bc1-8d43-4ea1ca45c9c7",
      "name": "Validar Evento2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Recordatorios enviados\", \"timestamp\": $now } }}",
        "options": {}
      },
      "id": "7c1e4047-6e7a-413f-9815-84081236c9a6",
      "name": "Respuesta Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        352,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"📚 *CAPACITACIÓN PROGRAMADA*\\n*Título:* {{$json.body.titulo}}\\n*Fecha:* {{$json.body.fecha_programada}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -16
      ],
      "id": "ad71b4ed-b01a-4236-9fc2-cd1230d810d6",
      "name": "HTTP Request3"
    }
  ],
  "connections": {
    "Webhook Capacitación": {
      "main": [
        [
          {
            "node": "Validar Evento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Asistentes": {
      "main": [
        [
          {
            "node": "Email Participante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Participante": {
      "main": [
        [
          {
            "node": "Respuesta Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Semanal Lunes 9AM": {
      "main": [
        [
          {
            "node": "Obtener Capacitaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Capacitaciones": {
      "main": [
        [
          {
            "node": "Split Asistentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Evento2": {
      "main": [
        [
          {
            "node": "Split Asistentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respuesta Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "50841e3223aaf622257f91df227280036edff9ed7ca23925aad2ff99d8c5dbf4"
  }
}